.container
  .row
    .col-md-8{:id => "main_creations"}
      = render "/creation/two_columns_creations"

    .col-md-4
      %h1{:style => "margin: 10px;"} MAIN PAGE
      .panel.panel-default
        .panel-heading
          %h3{:class => "panel-title"}Filters and sort settings
        .panel-body
          %div{"ng-controller" => "DropdownCtrl"}
            = render partial: "filter_dropdown",
                      locals: {filter: "category",
                                items: Category.translations,
                                separated_items: ["all"]}
            = render partial: "filter_dropdown",
                      locals: {filter: "sort",
                                title: "Show first",
                                items: ["most recent", "most rated"],
                                separated_items: ["any"]}
            = render partial: "filter_dropdown",
                      locals: {filter: "limit",
                                items: %w(4 6 10),
                                separated_items: ["no limit"]}
      .panel.panel-default
        .panel-heading
          %h3{:class => "panel-title"}Tag cloud
        .panel-body
          TAGS TAGS TAGS