<h1 style="margin: 10px">MAIN PAGE</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @creations.each do |creation| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">by <b><%= User.where(id: creation.user_id).first.name %></b></h3>
            </div>
            <div class="panel-body">
              Title: <%= creation.title %>
            </div>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Most rated</h3>
        </div>
        <div class="panel-body">
          something
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Most recent</h3>
        </div>
        <div class="panel-body">
          something
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Tag cloud</h3>
        </div>
        <div class="panel-body">
          something
        </div>
      </div>
    </div>
  </div>

</div>