:plain
  htmlCode = "#{j (render 'comments') }"
  elem = angular.element("div#comments")
  $compile = elem.injector().get('$compile')
  scope = elem.scope()
  elem.html( $compile(htmlCode)(scope) )
  scope.$digest()