%h1{:style => "margin: 10px;"} CREATION PAGE
%h1{:style => "margin: 10px;"} current creation: #{@creation.id}
%h1{:style => "margin: 10px;"} @creation.title
%h1{:style => "margin: 10px;"} FUNCTIONS: view, edit (also just created)

%br
%br
%h1{:style => "margin: 10px;"} THE MOST COMPLICATED PAGE

%br

%h1{:style => "margin: 10px;"} Category #{@creation.group}
%h1{:style => "margin: 10px;"} Rating #{@creation.rating}