.read-large {
    font-size: 22pt;
}
.read-large h1 {
    font-size: 70pt;
}
.read-large h2 {
    font-size: 50pt;
}
.read-large h3 {
    font-size: 40pt;
}
.read-large h4 {
    font-size: 35pt;
}
.read-large h5 {
    font-size: 30pt;
}
.read-large h6 {
    font-size: 25pt;
}
.read-large * {
    font-size: 22pt;
}

.read-medium{

}

.read-small {
    font-size: 7pt;
}
.read-small h1 {
    font-size: 15pt;
}
.read-small h2 {
    font-size: 13pt;
}
.read-small h3 {
    font-size: 11pt;
}
.read-small h4 {
    font-size: 10pt;
}
.read-small h5 {
    font-size: 9pt;
}
.read-small h6 {
    font-size: 8pt;
}
.read-small * {
    font-size: 7pt;
}

.page100 {
    width: 100%;
    margin: 0 auto;
}
.page80 {
    width: 80%;
    margin: 0 auto;
}
.page50 {
    width: 50%;
    margin: 0 auto;
}